main{
  display: grid;
  grid-template-columns: 10% 80% 10%;
}

app-main{
  grid-column: 2/3;
}

@media only screen and (max-width: 1200px) {
  main {
    display: grid;
    grid-template-columns: 100%;
  }

  app-main {
    grid-column: 1/2;
  }

}

header{
  background-color: steelblue;
}

footer{
  background-color: steelblue;
}


