<button (click)="toggleOption()" class="container standardText">
  <div class="icon">
    <fa-icon *ngIf="selected" [icon]="selIcon"></fa-icon>
    <fa-icon *ngIf="!selected" [icon]="nSelIcon"></fa-icon>
  </div>
  <label *ngIf="category!=='Dateianhang'" class=" optionName">{{label}}</label>
  <label *ngIf="category==='Dateianhang' && label==='true'" class=" optionName">Ja</label>
  <label *ngIf="category==='Dateianhang' && label==='false'" class=" optionName">Nein</label>
  <label class=" optionCount">{{count}}</label>
</button>
