<div class="container">
  <button class="filterTabHeader" (click)="toggleView()">
    <span class="categoryTitle">{{category}}</span>
    <span class="dropdownAngle">
      <fa-icon *ngIf="isVisible" [icon]="faAngleUp"></fa-icon>
      <fa-icon *ngIf="!isVisible" [icon]="faAngleDown"></fa-icon>
    </span>


  </button>

  <app-filter-toggle category="{{category}}" *ngIf="category!=='Jahr' && isVisible"></app-filter-toggle>
  <app-filter-slide category="{{category}}" *ngIf="category==='Jahr' && isVisible"></app-filter-slide>

</div>
